.dropdown {
    pointer-events: none;
    color: $themeBlack;
    white-space: nowrap;
}
.dropdown__content {
    pointer-events: all;
    background: $themeGrayLight;
    border-radius: 4px;
    margin-top: 10px;
}

.dropdown__menu {
    &>li {
        &:first-of-type {
            &>a {
                padding-top: 8px;
            }
        }
        &:last-of-type {
            &>a {
                padding-bottom: 8px;
            }
        }
        &>a {
            outline: none;
            display: block;
            padding: 4px 24px;
            font-size: 16px;
            line-height: 24px;
            &:hover, &:focus {
                background: $themeBlue;
                color: $themeWhite;
            }
            &:active {
                background: $themeBlueDark;
                color: $themeWhite;
            }
        }
    }
    &_social {
        &>li {
            &>a {
                padding-right: 54px;
            }
        }
    }
    &_light {

    }
}

.dropdown__social {
    display: flex;
    padding: 16px 24px;
    li {
        display: flex;
        & + * {
            margin-left: 16px;
        }
        a {
            display: flex;
            align-items: center;
            svg {
                fill: $themeBlue;
                &:hover {
                    fill: $themeBlack;
                }
            }
        }
    }
}

*[data-js-dropdown-container] {
    position: relative;
}
*[data-js-dropdown-menu] {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

*[data-js-dropdown-hover] {
    &:hover, &:focus {
        & + *[data-js-dropdown-menu] {
            &>* {
                visibility: visible;
                max-height: 100%;
                transition: .5s;
            }
        }
    }
}
*[data-js-dropdown-menu] {
    z-index: 1;
    &:hover, &:focus {
        &>* {
            visibility: visible;
            max-height: 100%;
            transition: .5s;
        }
    }
}

*[data-js-dropdown-menu] {
    &>* {
        visibility: hidden;
        overflow: hidden;
        max-height: 0;
        transition: .2s;
    }
}

*[data-js-dropdown-menu=opened] {
    &>* {
        visibility: visible;
        max-height: 100%;
        transition: .5s;
    }
}