.dropdown {
    color: $themeBlack;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    z-index: 1;
}
.dropdown__content {
    background: $themeGrayLight;
    border-radius: 4px;
    margin-top: 10px;

    overflow: hidden;
    max-height: 0;
    transition: .2s;
}

.dropdown__menu {
    &>li {
        &:first-of-type {
            &>a {
                padding-top: 8px;
            }
        }
        &:last-of-type {
            &>a {
                padding-bottom: 8px;
            }
        }
        &>a {
            outline: none;
            display: flex;
            align-items: center;
            padding: 4px 16px;
            font-size: 16px;
            line-height: 24px;
            &:hover, &:focus {
                background: $themeBlue;
                color: $themeWhite;
                svg {
                    fill: $themeWhite;
                    opacity: 1;
                }
                span {
                    opacity: 1;
                }
            }
            &:active {
                background: $themeBlueDark;
                color: $themeWhite;
            }
            svg {
                fill: $themeBlack;
                opacity: .8;
                width: 20px;
                margin-right: 12px;
            }
            span {
                opacity: .8;
            }
        }
    }
    &_social {
        &>li {
            &>a {
                padding-right: 54px;
            }
        }
    }
    &_light {

    }
}

.dropdown__social {
    display: flex;
    padding: 16px 24px;
    li {
        display: flex;
        & + * {
            margin-left: 16px;
        }
        a {
            display: flex;
            align-items: center;
            svg {
                fill: $themeBlue;
                &:hover {
                    fill: $themeBlack;
                }
            }
        }
    }
}

.dropdown__trophy {
    display: flex;
    img {
        width: auto;
        height: 100%;
    }
    &>div {
        padding: 24px 34px 15px 16px;
        box-sizing: border-box;
        &>h3 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
        }
        &>p {
            font-size: 14px;
            line-height: 20px;
            color: rgba($themeBlack, .7);
            white-space: break-spaces;
        }
    }
}

[data-js-dropdown-hover], [data-js-dropdown-click] {
    position: relative;
}

[data-js-dropdown-hover=active], [data-js-dropdown-click=active] {
    .dropdown {
        visibility: visible;
    }
    [data-js-dropdown-menu] {
        .dropdown__content {
            max-height: 100%;
            transition: .5s;
        }
    }
}