.gallery {}

.gallery__container {
    display: none;
    &_mobile {
        @media (max-width: 992px) {
            display: flex;
        }
    }
    &_desktop {
        @media (min-width: 993px) {
            display: flex;
        }
    }
}

.gallery__content {
    display: flex;
    justify-content: space-between;
}

.gallery__col {
    &_1 {
        margin-right: 33px;
        @media (min-width: 1600px) {
            margin-right: 43px;
        }
        @media (max-width: 1200px) {
            margin-right: 16px;
        }
    }
    &_2 {}
}

.gallery__title {
    margin-bottom: 24px;
    @media (min-width: 1600px) {
        margin-bottom: 32px;
    }
}

.gallery__tab-select {
    margin-bottom: 41px;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
        margin-bottom: 24px;
    }
}
.gallery__tab-buttons {
    display: flex;
    border-bottom: 1px solid rgba($themeBlack, .3);
    &>a {
        display: block;
        font-size: 24px;
        line-height: 32px;
        color: $themeBlack;
        margin-bottom: -1px;
        @media (min-width: 1600px) {
            font-size: 28px;
            line-height: 32px;
        }
        &:hover, &:focus {
            color: $themeBlue;
        }
        &.is-active {
            color: $themeBlue;
            pointer-events: none;
            position: relative;
            padding-bottom: 6px;
            border-bottom: 2px solid $themeBlue;
        }
        & + a {
            margin-left: 32px;
        }
    }
}

.gallery__tab-content {}

.gallery__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -33px;
    margin-bottom: -35px;
    @media (min-width: 993px) {
        margin-right: -43px;
    }
    @media (min-width: 1600px) {
        margin-right: -43px;
    }
    @media (max-width: 1200px) {
        margin-right: -16px;
        margin-bottom: -18px;
    }
    @media (max-width: 992px) {
        margin-right: -40px;
        margin-bottom: -14px;
    }
    @media (max-width: 768px) {
        margin-right: -24px;
    }
    @media (max-width: 420px) {
        margin-right: 0;
    }
}
.gallery__item {
    flex: 0 1 calc(25% - 33px);
    margin-right: 33px;
    margin-bottom: 35px;
    position: relative;
    transition: .15s;
    @media (min-width: 993px) {
        flex: 0 1 calc(50% - 33px);
        margin-right: 33px;
        margin-bottom: 35px;
    }
    @media (min-width: 1600px) {
        flex: 0 1 calc(50% - 43px);
        margin-right: 43px;
    }
    @media (max-width: 1200px) {
        flex: 0 1 calc(50% - 16px);
        margin-right: 16px;
        margin-bottom: 18px;
    }
    @media (max-width: 992px) {
        flex: 0 1 calc(50% - 40px);
        margin-right: 40px;
        margin-bottom: 14px;
    }
    @media (max-width: 768px) {
        flex: 0 1 calc(50% - 24px);
        margin-right: 24px;
    }
    @media (max-width: 420px) {
        flex: 0 1 100%;
        margin-right: 0;
    }
    & * {
        transition: transform .15s;
        &:before, &:after {
            transition: transform .15s;  
        }
    }
    &:active {
        .gallery__name {
            color: $themeBlueDark;
        }
    }
    &:hover, &:focus {
        & * {
            transition: transform .25s;
            &:before, &:after {
                transition: transform .25s;  
            }
        }
        & > .gallery__name {
            color: $themeBlue;
        }
        .gallery__hidden-link {
            padding-bottom: 20px;
        }
        @media (min-width: 993px) {
            & > .gallery__date, .gallery__tag, .gallery__name {
                transform: translateY(20px);
            }
            & > .gallery__photo {
                &:before, &:after {
                    transform: rotateX(90deg);
                }
            }
        }
    }
}

.gallery__hidden-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    z-index: 0;
}

.gallery__photo {
    overflow: hidden;
    margin-bottom: 10px;
    z-index: -1;
    position: relative;
    height: pxToVw(1440, 160px);
    @media (min-width: 993px) {
        padding: 20px 0;
        margin-top: -40px;
        transform: translateY(20px);
    }
    @media (min-width: 1600px) {
        margin-bottom: 16px;
    }
    @media (max-width: 992px) {
        height: pxToVw(992, 220px);
    }
    @media (max-width: 420px) {
        height: pxToVw(320, 162px);
    }
    &:before, &:after {
        content: '';
        width: 105%;
        height: 20px;
        background: $themeWhite;
        position: absolute;
        left: 0;
        @media (max-width: 992px) {
            display: none;
        }
    }
    &:before {
        transform-origin: top;
        top: 0;
    }
    &:after {
        transform-origin: bottom;
        bottom: 0;
    }
    img {
        object-fit: cover;
        object-position: center;
        height: calc(100% + 40px);
        width: 100%;
        @media (min-width: 993px) {
            margin-top: -20px;
        }
        @media (max-width: 992px) {
            height: 100%;
        }
    }
    svg {
        width: 49px;
        height: 49px;
        fill: #FF0000;
        color: $themeWhite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (min-width: 1600px) {
            width: 69px;
            height: 69px;
        }
    }
}
.gallery__date {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    opacity: .5;
    margin-right: 16px;
    @media (min-width: 1600px) {
        font-size: 16px;
        line-height: 24px;
    }
}
.gallery__tag {
    position: relative;
    display: inline-block;
    color: $themeBlue;
    font-size: 14px;
    line-height: 20px;
    z-index: 1;
    @media (min-width: 1600px) {
        font-size: 16px;
        line-height: 24px;
    }
    &:hover {
        text-decoration: underline;
    }
}
.gallery__name {
    font-size: 20px;
    line-height: 22px;
    margin-top: 2px;
    pointer-events: none;
    @media (min-width: 1600px) {
        font-size: 24px;
        line-height: 30px;
    }
    @media (max-width: 1440px) {
        font-size: 16px;
        line-height: 24px;
    }
    @media (max-width: 992px) {
        font-size: 20px;
        line-height: 24px;
    }
    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.gallery__more {
    margin-top: 24px;
    @media (min-width: 1600px) {
        margin-top: 32px;
    }
    @media (max-width: 992px) {
        margin-left: auto;
    }
    @media (max-width: 420px) {
        display: none;
    }
    &_mobile {
        margin-top: 40px;
        display: none;
        @media (max-width: 420px) {
            display: block;
        }  
    }
    &>a {
        background: $themeGrayLight;
        color: $themeBlueDark;
        height: 48px;
        display: inline-flex;
        align-items: center;
        padding: 0 20px 0 16px;
        border-radius: 100px;
        &:hover, &:focus {
            background: $themeBlue;
            color: $themeWhite;
            &>svg {
                fill: $themeWhite
            }
        }
        &:active {
            opacity: .7;
        }
        &>svg {
            fill: rgba($themeBlueDark, .5);
            margin-right: 16px;
        }
        &>span {
            font-size: 16px;
            line-height: 32px;
        }
    }
}