.news-rows {}

.news-rows__title {
    margin-bottom: 24px;
}

.news-rows__list {}
.news-rows__item {
    & + & {
        margin-top: 3em;
        @media (max-width: 768px) {
            margin-top: 2em;
        }
    }
    &>a {
        display: block;
        font-size: 16px;
        line-height: 20px;
        @media (min-width: 1600px) {
            font-size: 18px;
            line-height: 24px;
        }
        &:hover {
            color: $themeBlue;
        }
        & + * {
            margin-top: 1em;
        }
    }
}

.news-rows__date {
    font-size: 14px;
    line-height: 20px;
    opacity: .5;
    margin-bottom: 12px;
    @media (min-width: 1600px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
    }
}
.news-rows__source {
    opacity: .5;
}