.news-cards {}

.news-cards__title {
    margin-bottom: 24px;
}

.news-cards__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -32px;
    margin-bottom: -50px;
    @media (min-width: 1441px) {
        margin-bottom: -29px;
    }
    @media (min-width: 1600px) {
        margin-bottom: -58px;
    }
    @media (max-width: 1200px) {
        margin-right: -16px;
        margin-bottom: -40px;
    }
    @media (max-width: 992px) {
        margin-right: -24px;
    }
    @media (max-width: 420px) {
        margin-right: 0;
        margin-bottom: -24px;
    }
}
.news-cards__item {
    flex: 0 1 calc(33% - 32px);
    margin-right: 32px;
    margin-bottom: 50px;
    position: relative;
    @media (min-width: 1441px) {
        margin-bottom: 29px;
    }
    @media (min-width: 1600px) {
        margin-bottom: 58px;
    }
    @media (max-width: 1200px) {
        flex: 0 1 calc(33% - 16px);
        margin-right: 16px;
        margin-bottom: 28px;
    }
    @media (max-width: 992px) {
        flex: 0 1 calc(50% - 24px);
        margin-right: 24px;
    }
    @media (max-width: 420px) {
        flex: 0 1 100%;
        margin-right: 0;
        margin-bottom: 24px;
    }
    & * {
        transition: transform .15s;
        &:before, &:after {
            transition: transform .15s;  
        }
    }
    &:active {
        .news-cards__name {
            color: $themeBlueDark;
        }
    }
    &:hover, &:focus {
        & * {
            transition: transform .25s;
            &:before, &:after {
                transition: transform .25s;  
            }
        }
        & > .news-cards__name {
            color: $themeBlue;
        }
        .news-cards__hidden-link {
            padding-bottom: 20px;
        }
        @media (min-width: 993px) {
            & > .news-cards__date, .news-cards__tag, .news-cards__name {
                transform: translateY(20px);
            }
            & > .news-cards__photo {
                &:before, &:after {
                    transform: rotateX(90deg);
                }
            }
        }
    }
}

.news-cards__hidden-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    z-index: 1;
}

.news-cards__photo {
    height: pxToVw(1440, 160px);
    position: relative;
    overflow: hidden;
    z-index: -1;
    margin-bottom: 10px;
    @media (min-width: 993px) {
        padding: 20px 0;
        transform: translateY(20px);
    }
    @media (min-width: 1600px) {
        height: pxToVw(1920, 263px);
        margin-bottom: 20px;
    }
    @media (max-width: 992px) {
        height: pxToVw(992, 160px);
    }
    @media (max-width: 768px) {
        height: pxToVw(768, 200px);
    }
    @media (max-width: 420px) {
        height: pxToVw(320, 180px);
    }
    &:before, &:after {
        content: '';
        width: 105%;
        height: 20px;
        background: $themeWhite;
        position: absolute;
        left: 0;
        @media (max-width: 992px) {
            display: none;
        }
    }
    &:before {
        transform-origin: top;
        top: 0;
    }
    &:after {
        transform-origin: bottom;
        bottom: 0;
    }
    img {
        object-fit: cover;
        object-position: center;
        height: calc(100% + 40px);
        width: 100%;
        @media (min-width: 993px) {
            margin-top: -20px;
        }
        @media (max-width: 992px) {
            height: 100%;
        }
    }
}
.news-cards__date {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    opacity: .5;
    margin-right: 16px;
    @media (min-width: 1600px) {
        font-size: 16px;
        line-height: 24px;
        margin-right: 9px;
    }
}
.news-cards__tag {
    position: relative;
    display: inline-block;
    color: $themeBlue;
    font-size: 14px;
    line-height: 20px;
    z-index: 1;
    @media (min-width: 1600px) {
        font-size: 16px;
        line-height: 24px;
    }
    &:hover {
        text-decoration: underline;
    }
}
.news-cards__name {
    font-size: 20px;
    line-height: 22px;
    margin-top: 2px;
    @media (min-width: 1600px) {
        font-size: 24px;
        line-height: 28px;
    }
    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
    }
}