.screen-slider {}
.screen-slider__container {}

.screen-slider__title {}
.screen-slider__content {
    position: relative;
}

.screen-slider__slider {
    &_1 {
        li {
            @media (max-width: 1440px) {
                height: pxToVw(1440, 480px);
            }
            @media (max-width: 992px) {
                height: pxToVw(768, 309px);
            }
            @media (max-width: 540px) {
                height: pxToVw(320, 168px);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &_2 {
        width: 100%;
        padding: 0 68px;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        @media (max-width: 1200px) {
            padding: 0 0;
        }
        @media (max-width: 992px) {
            position: relative;
        }
        li {
            display: flex;
            min-height: 115px;
            cursor: pointer;
            background: rgba(#0F1C35, .75);
            position: relative;
            @media (max-width: 992px) {
                background: $themeBlueDark;
                min-height: 0;
            }
            &:hover, &:focus {
                p {
                    color: $themeBlueLight;
                }
            }
            &.slick-current {
                position: relative;
                &:after {
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $themeWhite;
                    position: absolute;
                    bottom: 16px;
                    left: 50%;
                    transform: translateX(-50%);
                    @media (max-width: 992px) {
                        display: none;
                    }
                }
            }
            &.focus-visible {
                outline-offset: -4px;
            }
            &::before {
                content: '';
                background: rgba($themeBlueLight, .3);
                border-radius: 3px;
                width: 1px;
                height: calc(100% - 40px);
                position: absolute;
                top: 50%;
                left: -1px;
                transform: translateY(-50%);
                z-index: 0;
            }
            p {
                color: $themeWhite;
                font-size: 16px;
                line-height: 22px;
                padding: 26px 32px 32px;
                box-sizing: border-box;
                z-index: 1;
                @media (max-width: 1200px) {
                    padding: 26px 16px 32px;
                }
                @media (max-width: 992px) {
                    padding: 24px 40px 68px;
                    font-size: 20px;
                    line-height: 24px;
                }
                @media (max-width: 768px) {
                    padding: 24px 24px 68px;
                }
                @media (max-width: 540px) {
                    padding: 16px 16px 40px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            *[data-js-slick-screen-blurred] {
                position: relative;
                width: 100%;
                height: 100%;
                filter: blur(5px);
                mix-blend-mode: multiply;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
        .slick-dots {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 36px;
            left: calc(40px - 8px);
            @media (max-width: 768px) {
                left: calc(24px - 8px);
            }
            @media (max-width: 540px) {
                left: calc(16px - 8px);
                bottom: 16px;
            }
            &>li {
                min-height: 0;
                max-height: 8px;
                background: transparent;
                display: flex;
                align-items: center;
                &:before {
                    display: none;
                }
                &.slick-active {
                    button {
                        &:before {
                            border: 3px solid $themeWhite;
                            opacity: 1;
                            background: transparent;
                        }
                    }
                }
                button {
                    position: relative;
                    font-size: 0;
                    width: 8px;
                    height: 8px;
                    padding: 8px;
                    box-sizing: content-box;
                    &:before {
                        content: '';
                        width: 8px;
                        height: 8px;
                        background: $themeWhite;
                        border-radius: 50%;
                        opacity: .5;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
        .slick-track {
            transform: translate3d(0px, 0px, 0px)!important;
        }
    }
}