.footer-common {
    background: $themeBlueDark;
    color: $themeWhite
}

.footer-common__container {
    padding-top: 40px;
    padding-bottom: 40px;
    @media (max-width: 540px) {
        padding-top: 24px;
        padding-bottom: 65px;
    }
}

.footer-common__wrapper {
    display: flex;
    justify-content: space-between;
    &_1 {
        align-items: center;
        margin-bottom: 36px;
        @media (min-width: 1600px) {
            margin-bottom: 67px;
        }
        @media (max-width: 992px) {
            flex-direction: column;
            margin-bottom: 48px;
        }
    }
    &_2 {
        margin-bottom: 56px;
        @media (min-width: 1600px) {
            margin-bottom: 58px;
        }
        @media (max-width: 992px) {
            margin-bottom: 40px;
        }
    }
    &_3 {
        @media (max-width: 540px) {
            display: flex;
            flex-direction: column;
        }
        &>p {
            font-size: 16px;
            line-height: 16px;
            color: rgba($themeWhite, .5);
            @media (min-width: 1600px) {
                font-size: 18px;
                line-height: 20px;
            }
            & + * {
                @media (max-width: 540px) {
                    margin-top: 16px;
                }
            }
            &>a {
                text-decoration: underline;
                &:hover, &:focus {
                    text-decoration: none;
                    color: $themeWhite;
                }
            }
        }
    }
}

.footer-common__social {
    display: flex;
    @media (max-width: 992px) {
        margin-left: auto;
    }
    &>li {
        display: flex;
        align-items: center;
        & + * {
            margin-left: 12px;
            @media (min-width: 1600px) {
                margin-left: 20px;
            }
        }
        &>a {
            display: flex;
            &>svg {
                fill: $themeWhite;
                &.fb {
                    width: 8px;
                    height: 15px;
                    @media (min-width: 1600px) {
                        width: 12px;
                        height: 24px;
                    }
                }
                &.tw {
                    width: 15px;
                    height: 12px;
                    @media (min-width: 1600px) {
                        width: 24px;
                        height: 20px;
                    }
                }
                &.in {
                    width: 14px;
                    height: 14px;
                    @media (min-width: 1600px) {
                        width: 23px;
                        height: 23px;
                    }
                }
                &.vk {
                    width: 19px;
                    height: 11px;
                    @media (min-width: 1600px) {
                        width: 31px;
                        height: 18px;
                    }
                }
                &.ok {
                    width: 8px;
                    height: 13px;
                    @media (min-width: 1600px) {
                        width: 13px;
                        height: 21px;
                    }
                }
                &.yt {
                    width: 18px;
                    height: 12px;
                    @media (min-width: 1600px) {
                        width: 28px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

.footer-common__nav {
    display: flex;
    @media (max-width: 992px) {
        display: none;
    }
    &>ul {
        & + * {
            margin-left: 56px;
            @media (min-width: 1600px) {
                margin-left: pxToVw(1920, 75px);
            }
            @media (max-width: 1200px) {
                margin-left: pxToVw(992, 20px);
            }
        }
        &>li {
            font-size: 14px;
            line-height: 22px;
            @media (min-width: 1600px) {
                font-size: 16px;
                line-height: 26px;
            }
            &>a {
                display: block;
                color: rgba($themeWhite, .5);
                white-space: nowrap;
                &:hover {
                    color: $themeWhite;
                }
            }
        }
    }
}

.footer-common__contacts {
    &>a {
        display: block;
        font-size: 16px;
        line-height: 16px;
        color: rgba($themeWhite, .5);
        text-align: right;
        @media (min-width: 1600px) {
            font-size: 18px;
            line-height: 20px;
        }
        @media (max-width: 992px) {
            color: $themeWhite;
        }
        &:hover {
            color: $themeWhite;
        }
        & + * {
            margin-top: 10px;
        }
    }
}

.footer-common__logo {
    @media (max-width: 992px) {
        margin-right: auto;
        margin-bottom: 52px;
    }
    @media (max-width: 540px) {
        display: none;
    }
    &_mobile {
        display: none;
        margin-right: auto;
        @media (max-width: 540px) {
            display: block;
        }
    }
    &>img {
        max-width: 100%;
    }
}