.footer-partners {
    background: $themeBlack;
    color: $themeWhite;
    overflow: hidden;
}
.footer-partners__container {
    padding-top: 51px;
    padding-bottom: 122px;
    @media (min-width: 1600px) {
        padding-bottom: 137px;
    }
    @media (max-width: 768px) {
        padding-top: 32px;
        padding-bottom: 48px;
    }
}

.footer-partners__content {
    & + & {
        margin-top: 65px;
        @media (min-width: 1600px) {
            margin-top: 43px;
        }
        @media (max-width: 540px) {
            margin-top: 24px;
            padding-top: 32px;
            border-top: 1px solid rgba($themeWhite, .2);
        }
    }
    &_1 {
        .footer-partners__caption {
            margin-bottom: 0;
        }
        .footer-partners__list {
            justify-content: center;
            margin-right: -77px;
            @media (max-width: 992px) {
                margin-right: pxToVw(320, -31px);
            }
        }
        .footer-partners__item {
            margin-right: 77px;
            flex: 0 1 calc(100% / 4 - 77px);
            min-width: 120px;
            @media (max-width: 992px) {
                margin-right: pxToVw(320, 28px);
            }
            &>a {
                &>img {
                    max-height: 183px;
                    @media (min-width: 1600px) {
                        max-height: 170px;
                    }
                }
            }
        }
    }
    &_2 {
        .footer-partners__caption {
            margin-bottom: 49px;
        }
        .footer-partners__list {
            @media (max-width: 620px) {
                margin-right: -16px;
                margin-bottom: -40px;
            }
        }
        .footer-partners__item {
            @media (max-width: 620px) {
                flex: 0 1 calc(100% / 2 - 16px);
                margin-right: 16px;
                margin-bottom: 40px;
            }
            img {
                max-width: 78px;
            }
        }
    }
}
.footer-partners__caption {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 8px;
    opacity: .5;
    position: relative;
    border-bottom: 1px solid rgba($themeWhite, .2);
    @media (min-width: 1600px) {
        font-size: 28px;
        line-height: 32px;
    }
    @media (max-width: 992px) {
        font-size: 20px;
        line-height: 24px;
    }
    @media (max-width: 540px) {
        padding: 0;
        border: none;
    }
}

.footer-partners__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -40px;
}
.footer-partners__item {
    flex: 1 1 calc(100% / 11 - 10px);
    margin-right: 10px;
    margin-bottom: 40px;
    @media (max-width: 1200px) {
        flex: 1 1 calc(100% / 6 - 10px);
        margin-right: 10px;
    }
    &>a {
        display: flex;
        flex-direction: column;
        align-items: center;
        &>img {
            max-width: 100%;
            max-height: 83px;
        }
        &>p {
            font-size: 12px;
            line-height: 20px;
            text-align: center;
            opacity: .5;
            margin-top: 16px;
            @media (max-width: 540px) {
                font-size: 14px;
                line-height: 20px;
                margin-top: 16px;
            }
        }
    }
}