.header {
    // position: sticky;
    // top: 0;
    z-index: 1;
}

.header__header-blue {
    z-index: 2;
    &_fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}